// Place all the styles related to the kyujins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.html1{
    height: 1500px;
}
.html2{
    height: 1200px;
}
body{
    height: 450px;
}
//index 画面
.kirakira{
    text-align: left;
}
.title{
    text-shadow: 3px 3px 5px rgba(14, 51, 29, 2);
    color: white;
    background-color: #3399FF;
}
.layout{
    font-size: 20px;
    white-space: pre;
}
.n_submit{
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    margin: auto 20px;
    position: relative;
    top: -100px;
    width: 1080px;
    height: 40px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #484848;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #627295;
    border-radius: 5px;
}

//form 画面
.midashi{
    text-align: center;
}

.f_table{
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    top: 80px; /* 上から10px */
    left: 280px; /* 左から20px */
    height: 50px;
    margin: 0;
    vertical-align: right;
    width: 700px;
}
.f_table th {
    text-align: center;
    padding: 10px;
    background: #e9faf9;
    border: solid 1px #778ca3;
    width: 200px;
    margin: 0;
    vertical-align: right;
}
.f_table td {
    text-align: left;
    padding: 10px;
    border: solid 1px #778ca3;
    width: 350px;
    margin: 0;
    vertical-align: right;
}

.field{
    input[type="text"] {
    width: 300px;
    height: 20px;
    }
}
.f_submit {
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    margin: auto 20px;
    position: relative;
    margin-bottom: 20px;
    top: 1350px;
    left: 600px;
    width: 80px;
    height: 30px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #484848;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #627295;
    border-radius: 5px;
}
.f_submit:active{
    /*ボタンを押したとき*/
    -webkit-transform: translateY(6px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);/*影を小さく*/
    border-bottom: none;
}
.back{
    font-style: normal;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    margin: auto 20px;
    margin-bottom: 20px;
    top: 0px;
    left: 400px;
    width: 80px;
    height: 30px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #627295;
    border-radius: 5px;
}
.back:active{
    /*ボタンを押したとき*/
    -webkit-transform: translateY(6px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);/*影を小さく*/
    border-bottom: none;
}

.tr{
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    /*display:-webkit-flex;*/
    display:-moz-flex;
    display:flex;
    box-sizing:border-box;
    width:100%;

    border-bottom:dotted 0px #ccc; margin-bottom:40px;
}
span{
    color: red;
}
span1{
    color: #FFF;
}
.gami{
    color: red;
}
.kaigyo{
    word-break: normal;
}
.img1{
    position: absolute;
    top:180px;
    right: 430px;
}
//show 画面
h2{
    text-align: center;
    position: relative;
    top: 100px;
}
.s_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    top: 200px; /* 上から10px */
    left: 230px;
    width: 700px;
    height: 20px;
}
.s_table th {
    padding: 10px;
    background: #e9faf9;
    border: solid 1px #778ca3;
    width: 300px;
    height: 20px;
}
.s_table td {
    padding: 10px;
    border: solid 1px #778ca3;
    width: 1000px;
    text-align: center;
}
.s_submit {
    font-style: normal;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    margin: auto 20px;
    margin-bottom: 20px;
    top: 1080px;
    left: 450px;
    width: 80px;
    height: 30px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #627295;
    border-radius: 5px;
}
.s_submit:active{
    /*ボタンを押したとき*/
    -webkit-transform: translateY(6px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);/*影を小さく*/
    border-bottom: none;
}
.s_back{
    font-style: normal;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 50px 50px;
    margin: auto 20px;
    margin-bottom: 20px;
    top: 1080px;
    left: 450px;
    width: 80px;
    height: 30px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #627295;
    border-radius: 5px;
}
.s_back:active{
    /*ボタンを押したとき*/
    -webkit-transform: translateY(6px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);/*影を小さく*/
    border-bottom: none;
}
.img2{
    position: absolute;
    top:200px;
    right: 380px;
}

.pageFooter{
    position: relative;
    top: 1100px;
    text-align: center;
}

//new画面
h1{
    font-size: 40px;
    text-align: center;
}

